@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700);

html {
  font: 14px/1.5 Inconsolata, sans-serif;
}

@media (min-width: 50rem) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 2rem 0 5rem;
  color: #333;
}

@media (min-width: 50rem) {
  body {
    margin-top: 5rem;
  }
}

.blue {
  color: #0074d9;
}
.red {
  color: #FF4136;
}
.green {
  color: #2ECC40;
}
.orange {
  color: #FF851B;
}

a {
  color: #0074d9; /* From http://clrs.cc */
  text-decoration: none;
}

a:hover, a:focus {
  border-bottom: 1px dotted #0074d9;
}

.headnote { 
  float: left;
  margin-top: -2.4rem;
  margin-left: -40px;
  text-align: right;
  font-size: 1.25rem;
}

.sidenote { 
  float: left;
  margin-left: -40px;
  margin-top: 3px;
  text-align: right;
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  margin: 0 0 0.5rem -0.1rem /* align left edge */;
  line-height: 1;
  color: #111;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  margin: 2rem 0 2rem 0;
}
h1 a:hover {
  text-decoration: none;
  border: 0;
}

@media (min-width: 60rem) {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

h1 a {
  color: inherit;
}

h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

@media (min-width: 60rem) {
  h2 {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

h3, h4, h5, h6 {
  margin-top: 1.5rem;
  font-size: 1rem;
}

p, ul, ol, dl, table, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1.0rem;
}

ul, ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: .5rem 1rem;
  border-left: .25rem solid #ccc;
  color: #666;
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  margin: 1.5rem 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  top: -1px;
}

.container img, .container iframe {
  max-width: 100%;
}

.container img {
  margin: 0 auto;
  display: block;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: left;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #ccc;
}

th { 
  background: #eee;
}

pre, code {
  font-family: inherit;
  background-color: #eee;
  font-size: 14px;
  line-height: 1.5em;
  border-radius: 5px;
}

pre {
  padding: .5rem 1rem;
  font-size: 0.8rem;
}

code {
  padding: .1rem .5rem;
}

pre > code {
  padding: 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  max-width: 60rem;
  margin: 0 auto;
}
